<h1>Editing Produto</h1>

<%= render 'form', produto: @produto %>

<%= link_to 'Show', fabricante_produto_path(@fabricante, @produto) %> |
<%= link_to 'Back', fabricante_produtos_path(@fabricante)  %>
