<h1>New Produto</h1>

<table>
  <thead>
    <tr>
      <th colspan="1"></th>
      <th>Nome</th>
      <th>Codigo</th>
    </tr>
  </thead>

  <tbody>
    <% @produtos_from_service.each do |produto| %>
      <tr>
      	<td><label><input type="radio" onchange="select(event)" name="option"></td>
        <td><%= produto.nome %></td>
        <td><%= produto.codigo %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<button id='submit' type='button'>Enviar</button> <br>
<%= link_to 'Back', fabricantes_path(@fabricante) %>
