<% if @produtos_from_service == nil %>
  <h1>Serviço indisponivel temporariamente</h1>
<% else %>
  <h1>New Produto</h1>

  <table>
    <thead>
      <tr>
        <th>Nome</th>
        <th>Codigo</th>
        <th colspan="1"></th>
      </tr>
    </thead>

    <tbody>
      <% @produtos_from_service.each do |produto| %>
        <tr>
          <td><%= produto.nome %></td>
          <td><%= produto.codigo %></td>
          <td><%= link_to "Selecionar", fabricante_produtos_path(@fabricante, produto: {nome: produto.nome, codigo: produto.codigo}), method: :post %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
<%= link_to 'Back', fabricantes_path(@fabricante) %>
